/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/vendor/telescope/*
.env
.env.backup
.env.production
.phpunit.result.cache
phpunit.xml.bak
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
